<main>
  <section>
    <%= form_with url: "/forecasts" do |form| %>
      <%= form.label :address, "Address:" %>
      <%= form.text_field :address %>
      <%= form.submit "Get Forecast" %>
    <% end %>
  </section>
  <turbo-frame id="forecast"></turbo-frame>
</main>
